@font-face {
  font-family: "handwriting";
  src: url("../fonts/LaBelleAurore-Regular.ttf") format("truetype");
}

.App {
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.header-btn {
  margin: 40px;
}

#haiku-container {
  margin: 60px;
}

.haiku-line {
  font-style: italic;
  font-weight: 800;
  font-family: "handwriting";
  font-size: 40px;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

#footer-name {
  margin: 40px;
}